<!-- Footer -->
<footer
  class="page-footer font-small blue pt-4"
  style="
    background-color: rgb(104, 164, 216);
    box-shadow: -5px 2px 10px 10px rgba(0, 0, 0, 0.15);
  "
>
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">Lorem ipsum dolor sit amet</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3" />

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Social media</h5>

        <ul class="list-unstyled">
          <li>
            <a class="text-light" href="#!">FACEBOOK</a>
          </li>
          <li>
            <a class="text-light" href="#!">TWITTER</a>
          </li>
          <li>
            <a class="text-light" href="#!">WHATSAPP</a>
          </li>
          <li>
            <a class="text-light" href="#!">INSTAGRAM</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Contact</h5>

        <ul class="list-unstyled">
          <li>
            <p class="text-light">(Tel) 018000-22334435</p>
          </li>
          <li>
            <p class="text-light">loremIpsun@lorem.com</p>
          </li>
          <li>
            <p class="text-light">carrera 88V #20A - 2</p>
          </li>
          <li>
            <p class="text-light">(cel) 435356456456</p>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div
    class="footer-copyright text-center py-3 bg-primary"
    style="color: rgb(238, 238, 238)"
  >
    © 2020 Copyright:
    <a href="/" style="color: aliceblue"> Joseph Sierra Beleño</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
