<header class="headers">
    <app-navbar></app-navbar>

    <div class="container-fluid mt-5">
        <section class="textosHeader">
            <h1>Bienvenido a DeniCon</h1>
            <h2>Donde tu salud dental es lo más importante</h2>
        </section>
    </div>
    <div class="wave" style="height: 150px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C149.99,150.00 199.48,-99.16 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #f8f9fa"></path>
        </svg>
    </div>
</header>
<main class="container-fluid bg-light pb-5">
    <div class="row text-center">
        <h3 class="my-4 pb-2"
            style="font-weight: bold; border-bottom: 2px solid rgba(0, 0, 0, 0.096); width: 400px; margin: 0 auto;">
            Nuestros servicios</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil amet eos culpa tempora asperiores excepturi!
            Fugiat quidem impedit, dolore quaerat, praesentium laboriosam enim officia adipisci nisi odio aut autem? At!
        </p>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3 mb-4">
                <div class="card shadow">
                    <img src="../../../assets/woman-g1b2703481_1280.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card shadow">
                    <img src="../../../assets/back-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card shadow">
                    <img src="../../../assets/orthodontist-g83d184636_1280.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card shadow">
                    <img src="../../../assets/hermosa-chica-sentada-oficina-dentista.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<section class="s-2">
    <div class="wave-top" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M-1.97,37.02 C285.83,314.31 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z"
                style="stroke: none; fill: #f8f9fa;"></path>
        </svg></div>

    <section class="textosHeader">
        <div class="d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-danger rounded-circle btn-lg" href=""><i class="fa-solid fa-heart-pulse"
                            style="box-shadow: 0px 0px 15px 15px rgba(255, 0, 0, 0.205);"></i></button>
                    <h5>lorem</h5>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary rounded-circle btn-lg"><i class="fas fa-tooth"
                            style="color: #ffffff;box-shadow: 0px 0px 15px 15px rgba(0, 89, 255, 0.205);"></i></button>
                    <h5>lorem</h5>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-success rounded-circle btn-lg"><i class="fas fa-map-marked-alt"
                            style="color: #ffffff;"></i></button>
                    <h5>lorem</h5>
                </div>
            </div>
        </div>
    </section>

    <div class="wave-3" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C149.99,150.00 199.48,-99.16 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #f8f9fa;"></path>
        </svg></div>
</section>
<main class="container-fluid bg-light pb-5">
    <div class="row text-center">
        <h3 class="my-4 pb-2"
            style="font-weight: bold; border-bottom: 2px solid rgba(0, 0, 0, 0.096); width: 400px; margin: 0 auto;">
            Nuestras instalaciones</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia dicta enim doloribus animi nostrum
            voluptatibus adipisci inventore ex eligendi labore libero, placeat ullam voluptates reiciendis, nemo modi
            quaerat error officiis, inventore ex eligendi labore libero, placeat ullam voluptates reiciendis, nemo modi
            quaerat error officiis!</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ratio shadow" style="border-radius: 20px;--bs-aspect-ratio: 50%;">
                    <iframe src="https://www.youtube.com/embed/yc70mJFrTtw"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen style="border-radius: 20px;"></iframe>
                </div>
            </div>
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos, aliquid deleniti! Soluta
                debitis nobis impedit facere quidem quam, praesentium hic modi iure voluptas accusantium, placeat
                assumenda necessitatibus consequatur consectetur temporibus.
                Et perspiciatis officiis vel accusamus laudantium tempora dolorum minima commodi, neque quaerat unde
                possimus ratione expedita iste dolor, necessitatibus sequi voluptatum consectetur quasi quibusdam velit
                excepturi animi ipsa. Quibusdam, doloribus?</p>
        </div>
        <!-- Gallery -->
        <div class="row text-center">
            <h3 class="my-4 pb-2"
                style="font-weight: bold; border-bottom: 2px solid rgba(0, 0, 0, 0.096); width: 400px; margin: 0 auto;">
                También puedes encontrar</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur nostrum optio nesciunt accusamus
                reiciendis. Ab, atque necessitatibus explicabo modi officiis dolor libero excepturi debitis nesciunt,
                voluptatum magni laborum eos totam.</p>
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <img src="../../../assets/teeth-ge9bc38a1d_1280.jpg" class="w-100 shadow-1-strong rounded mb-4 shadow"
                    alt="Boat on Calm Water" />

                <img src="../../../assets/teeth-g643abc146_1280.jpg" class="w-100 shadow-1-strong rounded mb-4 shadow"
                    alt="Wintry Mountain Landscape" />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="../../../assets/people-g5454bf895_1280.jpg" class="w-100 shadow-1-strong rounded mb-4 shadow"
                    alt="Mountains in the Clouds" />

                <img src="../../../assets/orthodontist-g83d184636_1280.jpg"
                    class="w-100 shadow-1-strong rounded mb-4 shadow" alt="Boat on Calm Water" />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="../../../assets/fotografia-macro-boca-humana-aparatos-metalicos-retractor-mejillas.jpg"
                    class="w-100 shadow-1-strong rounded mb-4 shadow" alt="Waves at Sea" />

                <img src="../../../assets/header-back.jpg" class="w-100 shadow-1-strong rounded mb-4 shadow"
                    alt="Yosemite National Park" />
            </div>
        </div>
        <!-- Gallery -->

    </div>

</main>
<div class="container-fuid text-center">
    <h3 class="my-4 pb-2"
        style="font-weight: bold; border-bottom: 2px solid rgba(0, 0, 0, 0.096); width: 400px; margin: 0 auto;">
        Estamos ubicados aquí</h3>
    <div class="row w-100">
        <div class="col-lg-6 my-4">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115681.29592731265!2d-77.47713270775661!3d25.0326996781907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x892f7c99b981dbc9%3A0x2aef01d3485e50d2!2sNassau%2C%20Bahamy!5e0!3m2!1spl!2spl!4v1624445118063!5m2!1spl!2spl"
                class="w-100" height="400" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col-lg-6 my-4 d-flex align-items-center">
            <div>
                <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quibusdam, autem numquam ex iste
                    ratione, explicabo atque.</p>
                <p>This useful feature helps to make your embedded map responsive (<strong>mobile
                        friendly</strong>). sit amet consectetur adipisicing elit. Inventore: <a
                        href="#">breakpoints</a>.</p>
                <p>This text looks so nice because it's <strong>vertically centered</strong> you can achieve
                    this effect using the <a href="#">vertical
                        alignment</a> layout option.</p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>