#chat3 .form-control {
    border-color: transparent;
}

#chat3 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.badge-dot {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-left: 2.9rem;
    margin-top: -.75rem;
}

.bg-el{
	background-color: black;
}

.expan{
    animation: myAnim 0.5s ease 0s 1 normal forwards;
}

.scal{
    animation: scal 1s ease 0s 1 normal forwards;
}

.scroll-bot::-webkit-scrollbar {
  width: 6px;
}

.scroll-bot::-webkit-scrollbar-track {
  background: #ebebeb;
  border-radius: 20px;
}

.scroll-bot::-webkit-scrollbar-thumb {
  background-color: rgb(214, 214, 214);
  transition: background-color 1s;
  border-radius: 20px;
}
.scroll-bot::-webkit-scrollbar-thumb:hover {
  background-color: rgb(226, 226, 226);
}


@keyframes myAnim {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes scal {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
