<app-navbar></app-navbar>
<section style="background-color: #CDC4F9;">
    <div class="container py-5" style="margin-top: 3em;">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-light shadow scal" id="chat3" style="border-radius: 15px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pt-3 pe-3 overflow-auto" style="height: 400px">
                                    <div class="d-flex flex-row justify-content-end">
                                        <div>
                                            <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary expan">
                                                Haz iniciado el chat, te doy la bienvenida</p>
                                        </div>
                                        <div class="row">
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                                alt="avatar 1" width="45" height="45">
                                        </div>
                                    </div>
                                    <div *ngFor="let answer of answers" class="row my-3">
                                        <div class="d-flex flex-row justify-content-start">
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                                                alt="avatar 1" width="45" height="45">
                                            <div>
                                                <p class="small p-2 ms-3 mb-1 rounded-3 expan"
                                                    style="background-color: #b4d9ff; max-width: 500px;">
                                                    {{ answer.answer }}</p>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row justify-content-end mt-3">
                                            <div>
                                                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary expan"
                                                    style="max-width: 500px;">
                                                    {{ answer.result }}</p>
                                            </div>
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                                alt="avatar 1" width="45" height="45">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                                    alt="avatar 3" style="width: 40px; height: 100%;">
                                <input type="text" class="form-control form-control-lg" [(ngModel)]="input_user"
                                    placeholder="Escribe un mensaje" style="background-color: #ebebeb;">
                                <a class="ms-1 text-muted"><i class="fas fa-paperclip"></i></a>
                                <a class="ms-3 text-muted"><i class="fas fa-smile"></i></a>
                                <a class="ms-3" (click)="send()"><i class="fas fa-paper-plane"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>