/* You can add global styles to this file, and also import other style files */
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(235, 235, 235);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 119, 255);
  transition: background-color 1s;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);
}
body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(66, 148, 255);
}
